---
layout: default
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%Y年%m月%d日" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>

 


<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{page.url | remove_first: '/'}}" data-title="{{page.title}}" ></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"luckyjing"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->


<!-- Archive post list -->
    <ul id="post-list" class="archive readmore">
        <h3>更多</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%Y年%m月%d日" }}</aside></a>
            </li>
        {% endfor %}
    </ul>

<footer id="post-meta" class="clearfix">
       
    <a href="/">
         <img class="avatar" src="{{ site.baseurl }}assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>
    <section id="sharing">
        {% include share.html %}
    </section>
</footer>